<a href="https://colab.research.google.com/github/FaizaMuhammadJulianto-312110009/Belajar_Phyton/blob/main/Belajar_ke_1_Phyton.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Type data atau bilangan bulat
data = 8
print (data)
print (type(data))

8
<class 'int'>

In [ ]:
# Type float atau bilangan desimal
data = 8.5
print (data)
print (type(data))

8.5
<class 'float'>

In [ ]:
# Type boolean atau biner
data1 = True
data2 = False

print (data1)
print (type(data1))

True
<class 'bool'>

In [ ]:
# Type string atau kumpulan karakter
# diawali dan diakhiri dengan tanda " "
data1 = "spiderman"
data2 = "9.5"

print (data1)
print (type(data1))

print (data2)
print (type(data2))

spiderman
<class 'str'>
9.5
<class 'str'>

In [ ]:
# Type Data List atau kumpulan data
# Menggunakan tanda [ ]
data = ["spiderman", "ironman", "batman"]
print(data)
print(type(data))

['spiderman', 'ironman', 'batman']
<class 'list'>

In [ ]:
# Type tuple
# Menggunakan tanda ( )

data = ("spiderman", "ironman")
print(data)
print(type(data))

('spiderman', 'ironman')
<class 'tuple'>

In [ ]:
# Type data set
# Menggunakan tanda { }

data = {"spiderman", "ironman"}
print(data)
print(type(data))

{'ironman', 'spiderman'}
<class 'set'>

In [ ]:
# Type data dictionery

data = {"spiderman" : "mcu", "batman" : "dc"}
print(data)
print(type(data))

{'spiderman': 'mcu', 'batman': 'dc'}
<class 'dict'>

In [ ]:
dt = {"Marvel":"Spiderman", "DC": "Batman"}
print(type(dt))

<class 'dict'>