<a href="https://colab.research.google.com/github/FaizaMuhammadJulianto-312110009/Belajar_Phyton/blob/main/Belajar_Ke_2_Phyton.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

To Integer

In [ ]:
# float --> integer
# boolean --> integer

In [ ]:
data = 19.5
data_int = int(data)

print(data, type(data))
print(data_int, type(data_int))

19.5 <class 'float'>
19 <class 'int'>

In [ ]:
data = True
data_int = int(data)

print(data, type(data))
print(data_int, type(data_int))

True <class 'bool'>
1 <class 'int'>

In [ ]:
data = False
data_int = int(data)

print(data, type(data))
print(data_int, type(data_int))

False <class 'bool'>
0 <class 'int'>

To Float

In [ ]:
data = 10
data_float = float(data)

print(data, type(data))
print(data_float, type(data_float))

10 <class 'int'>
10.0 <class 'float'>

In [ ]:
data = True
data_float = float(data)

print(data, type(data))
print(data_float, type(data_float))

True <class 'bool'>
1.0 <class 'float'>

In [ ]:
data = False
data_float = float(data)

print(data, type(data))
print(data_float, type(data_float))

False <class 'bool'>
0.0 <class 'float'>

To Boolean

In [ ]:
# To boolean
# float/int --> boolean
# string, list, set, tuple, dict --> boolean

In [ ]:
data = 10
data_convert = bool(data)

print(data, type(data))
print(data_convert, type(data_convert))

10 <class 'int'>
True <class 'bool'>

In [ ]:
data = "spiderman"
data_convert = bool(data)

print(data, type (data))
print(data_convert, type(data_convert))

spiderman <class 'str'>
True <class 'bool'>

In [ ]:
data = ""
data_convert = bool(data)

print(data, type (data))
print(data_convert, type(data_convert))

 <class 'str'>
False <class 'bool'>

To String

In [ ]:
# To string
# all type --> string

data = 100
data_convert = str(data)

print(data, type (data))
print(data_convert, type(data_convert))
print(data, data_convert)

100 <class 'int'>
100 <class 'str'>
100 100

# To List

In [ ]:
# To list
# string, tuple, set --> list

data = "spiderman"
data_convert = list(data)

print(data, type (data))
print(data_convert, type(data_convert))

spiderman <class 'str'>
['s', 'p', 'i', 'd', 'e', 'r', 'm', 'a', 'n'] <class 'list'>

# To Dict

In [ ]:
data = [
    ["marvel", "spiderman"],
    ["dc", "batman"]
]

print(data)
print(dict(data))

[['marvel', 'spiderman'], ['dc', 'batman']]
{'marvel': 'spiderman', 'dc': 'batman'}